{
  "release": {
    "branch": "master"
  },
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "eslint"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "eslint"
      }
    ],
    [
      "semantic-release-slack-bot",
      {
        "notifyOnSuccess": true,
        "notifyOnFail": true
      }
    ]
  ]
}
